tr,
th,
td {
  border: 2px solid black;
  padding: 8px 70px;
}

td {
  font-weight: bold;
  font-size: 18px;
}

.table {
  text-align: center;
  margin: 0 auto;
  table-layout: fixed;
  width: 700px;
  border-collapse: collapse;
  border: 2px solid black;
}

.main-tr {
  font-size: 20px;
  background-color: rgb(41, 40, 40);
  color: white;
}

.transaction-status {
  text-align: left;
  text-transform: capitalize;
}

tbody tr:nth-child(2n) {
  background-color: rgb(183, 180, 180);
}
